<div class="upload-page">
    <div class="overlay-card">
      <div class="upload-container">
        <h2>Nesne Tespiti - Görsel Yükle</h2>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        <button (click)="onSubmit()" [disabled]="isLoading">Analiz Et</button>
  
        <div *ngIf="isLoading" class="loading-message">
          <p>Yükleniyor...</p>
        </div>
  
        <!-- İşlenmiş görsel önizlemesi -->
        <div *ngIf="imageUrl" class="image-preview">
          <h3>İşlenmiş Görsel:</h3>
          <img [src]="imageUrl" alt="Sonuç Görseli" />
        </div>
  
        <!-- Nesne türleri ve sayıları -->
        <div *ngIf="objectCounts && getObjectKeys().length > 0" class="object-info">
          <h3>Bulunan Nesneler:</h3>
          <ul>
            <li *ngFor="let key of getObjectKeys()">
              {{ key }}: {{ objectCounts[key] }}
            </li>
          </ul>
        </div>
  
        <!-- Eğer objectCounts boşsa -->
        <div *ngIf="!objectCounts || getObjectKeys().length === 0" >
          <p>Henüz herhangi bir nesne tespit edilmedi.</p>
        </div>
      </div>
    </div>
  </div>

  